.cart-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-popup {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
  }
  
  .cart-popup-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
  }
  
  .cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .cart-item-details p {
    margin: 0;
    font-size: 14px;
  }
  