.footer-section {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
  }

  .footer-section h3{
    color:#ff9800;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .footer-column {
    width: 30%;
    min-width: 280px;
    margin-bottom: 20px;
  }
  
  .footer-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .footer-divider {
    width: 50px;
    height: 3px;
    background-color: #ff9800;
    margin-bottom: 15px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  .footer-list a {
    color: #ff9800;
    text-decoration: none;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-socials {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .footer-socials a {
    font-size: 24px;
    color: #ff9800;
    transition: 0.3s;
  }
  
  .footer-socials a:hover {
    color: #eaee1e;
  }